body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Todo_main {
  margin-top: 20px;
  padding-top: 2rem;
  width: 500px;
  padding-right: 4rem;
  background-color: rgb(224, 224, 224);
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
  height: auto;
  /* min-height: 30px; */
  height: auto !important;
  position: relative;
}
/* .list_items {
  background-color: "white";
  width: "15rem";
  height: "6rem";
  border-radius: "0.2rem";
} */
.modal {
  position: fixed;
  top: 30%;
  left: 40%;
  width: 20%;
  height: 30%;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  transition: var(--transition);
}
.modal-container {
  background: white;
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.add_btn {
  font-size: 40px;
  color: rgb(135, 206, 235);
  border: none;
  border-radius: 30%;
  background: #eee;
  box-shadow: 0 10px 10px -4px lightblue;
  margin-bottom: 1rem;
}

.todo_item {
  width: 411px;
  height: 55px;
  left: 103px;
  top: 304px;
  background: rgba(196, 196, 196, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 1rem;
}

li {
  list-style: none;
}
